html,body { background:#ececec;}
/* 覆盖 */
ul,li { list-style: none; padding: 0; margin: 0}
/* 轮播 */
.am-slider-a1 .am-control-nav li { position: relative;}
.am-slider-a1 .am-control-nav li a { background: #bcbcbc; opacity: .5;  }
.am-slider-a1 .am-control-nav li a:hover {}
.am-slider-a1 .am-control-nav li a.am-active { background: #bcbcbc;-webkit-box-shadow:none;box-shadow:none;  opacity: 1;}
.am-slider-a1 .am-control-nav {bottom: 18px; z-index: 2;}
.pet_slider_shadow { position: absolute;  background: url(../img/flshadow.png) bottom no-repeat; -webkit-background-size: 100%;
background-size: 100%; width: 100%; height: 100%; bottom: 0; left: 0; z-index: 1;}
.pet_slider_font {position: absolute; bottom: 35px; left: 20px; z-index: 8; color: #fff;}
.pet_slider_emoji { display: block; font-size: 12px; }

/* 外挂图形文字 */
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
    @keyframes more_list {
      from {
        left: 0;
        bottom: -900px;
      }
      to {
        left: 0;
        bottom: 0;
      }
    }

    @-webkit-keyframes more_list {
      from {
        left: 0;
        bottom: -900px;
      }
      to {
        left:0;
        bottom: 0;
      }
    }
/* 主体 */
.pet_mian { max-width: 640px; margin: 0 auto; background: #ececec; position: relative;}
.pet_content_main { max-width: 100%; background: #fff; padding:10px 20px; -webkit-box-shadow:  0 0 3px rgba(100,100,100,.1); box-shadow: 0 0 3px rgba(100,100,100,.1);}

.pet_content_main .am-list-news-default { margin: 0;}


/* 内页头部 */
.pet_head {position: fixed; height: 49px; width: 100%; left: 0; right: 0; z-index: 999; }
.pet_head_block {background: #303435; max-width: 640px; margin: 0 auto; line-height: 53px; }
.pet_head_jt_ico { font-size: 25px; border-right: 1px solid #4c4a4b;  }
.pet_head_gd_ico { font-size: 27px; }
.pet_head_block .am-header-nav>a {color: #918f90; height: 30px; line-height: 30px; min-width: 48px;}

.pet_content_list { padding-top: 29px;}


.pet_article_footer_info {  text-align: center; font-size: 12px; color:#b9b8b8; height: 30px; line-height: 30px; margin:17px;}
.pet_article_like {  width: 100%; background: #fff; margin: 0 auto;  box-shadow: 0 1px 2px rgba(0,0,0,0.05); margin-top: 20px; padding: 18px;}
.pet_article_like_delete { padding: 0;box-shadow:none;}


// 视频
.pet_topci { width: 100%;}
.pet_content_main .am-list .pet_topci_list { width: 100%; border: none;}
.pet_topci .pet_article_like { padding: 10px;}
.pet_topci_block { width: 100%; position: relative; display: block;}
.pet_topci_block img { width: 100%;}
.pet_topci_video { color: #fff; text-align: center; position: absolute; top: 10px; right: 10px; background:rgba(0, 0, 0, 0.3); border-radius: 10px; height: 18px; line-height: 20px; font-size: 12px; width: 55px;}
.pet_topci_shadow { position: absolute;  background: url(../img/a3.png) bottom no-repeat; -webkit-background-size: 100%;
background-size: 100%; width: 100%; height: 100%; bottom: 0; left: 0; z-index: 1; opacity: .8;}
.pet_topci_shadow_font { font-size: 14px; line-height: 20px;color: #fff; position: absolute;padding: 10px; bottom: 0; left: 0; z-index: 2;}
.pet_news_list_tag_name{    display: block;width: 100%;text-align: center;line-height: 49px;color: #fff;}
